# Binaries
**/bin/
bin-int/
Intermediates/

# Sketch files
**.log

#third party
**/third_party/

# Visual Studio files and folders
.vs/
ExportedObj/
.consulo/
**.csproj
**.sln
**.suo
**.tmp
**.user
**.userprefs
**.pidb
**.booproj
**.svd
**.pdb
**.mdb
**.opendb
**.VC.db
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Clion files and folders
.idea/
cmake-build-debug/
cmake-build-release/
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Builds
**.apk
**.aab
**.app
